management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    defaults:
      enabled: true
  info:
    git:
      mode: full
  cors:
    allowed-origins: http://localhost:9090/
    allowed-methods: GET,POST,OPTIONS

info:
  version: @project.version@
  author: dkogan
  descriptiion: THis is SPring Bot example

