<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Welcome">Welcome</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />

</head>
<body>
<div class="container">

    <div>
        <h4><a href="/login">lOGIN</a></h4>
        <h4><a href="/logout">lOGOUT</a></h4>
        <h4><a href="/dicts/all">Словари (только пользователь)</a></h4>
        <h4><a href="/users/all">Пользователи (только админ)</a></h4>
        <h4><a href="/words/all">Тестовый словарь (только пользователь)</a></h4>

    </div>


</form>
</div>
</body>
</html>