<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h1 th:text="#{ErrorInPage}">Error</h1>
<div class="row">
    <textarea name="errors" th:text="${ErrorMessage}" rows="20"
              style="margin-top: 5px;"></textarea>
</div>
</body>
</html>
