<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advanced configuration demo</title>
    <style>
        body {
            font-size: 16pt;
        }

        h3 {
            color: CornflowerBlue;
        }

        li {
            color: DarkGray;
        }

        p {
            color: OrangeRed;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>
        <h3>Демонстрация @Scope</h3>
        <ul>
            <li>Singleton должен постоянно накручивать счетчик встреч и не менять имя</li>
            <li>Prototype1 должен вести себя так же, как и Singleton, но иметь имя отличное от Prototype2</li>
            <li>Prototype2 должен вести себя так же, как и Singleton, но иметь имя отличное от Prototype1</li>
            <li>Session должен вести себя как Singleton, но только до перезапуска браузера. После, счетчик встреч должен пойти заново</li>
            <li>Request должен всегда показывать первую встречу и разное имя</li>
        </ul>
    </p>

    <hr/>

    <p th:text = "'Singleton сказал: ' + ${singletonGreeting}"></p>
    <p th:text = "'Prototype1 сказал: ' + ${prototype1Greeting}"></p>
    <p th:text = "'Prototype2 сказал: ' + ${prototype2Greeting}"></p>
    <p th:text = "'Session сказал: ' + ${sessionGreeting}"></p>
    <p th:text = "'Request сказал: ' + ${requestGreeting}"></p>
</body>
</html>