<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advanced configuration demo</title>
    <style>
        body {
            font-size: 16pt;
        }

        h3 {
            color: CornflowerBlue;
        }

        li {
            color: DarkGray;
        }

        p {
            color: OrangeRed;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p>
        <h3>Демонстрация @Scope</h3>
        <ul>
            <li>SingletonGreetingService должен говорить сначала "Привет", а потом все время "Рад снова тебя видеть"</li>
            <li>PrototypeGreetingService1 должен говорить сначала "Привет", а потом все время "Рад снова тебя видеть"</li>
            <li>PrototypeGreetingService2 должен говорить сначала "Пока жду", после обновления страницы "Привет", а потом все время "Рад снова тебя видеть"</li>
            <li>SessionGreetingService должен вести себя как SingletonGreetingService, но только до перезапуска браузера</li>
            <li>RequestGreetingService должен каждый раз говорить "Привет"</li>
        </ul>
    </p>

    <hr/>

    <p th:text = "'SingletonGreetingService сказал: ' + ${singletonGreeting}"></p>
    <p th:text = "'PrototypeGreetingService1 сказал: ' + ${prototype1Greeting}"></p>
    <p th:text = "'PrototypeGreetingService2 сказал: ' + ${prototype2Greeting}"></p>
    <p th:text = "'SessionGreetingService сказал: ' + ${sessionGreeting}"></p>
    <p th:text = "'RequestGreetingService сказал: ' + ${requestGreeting}"></p>
</body>
</html>