server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: "git@github.com:OtusTeam/Spring.git"
          search-paths: "2025-07/spring-35-36-spring-cloud/git-config"
          ignoreLocalSshSettings: false
          strictHostKeyChecking: false
          defaultLabel: "master"

management:
  tracing:
    sampling:
      probability: 1.0
  endpoint:
    prometheus:
      enabled: true
    metrics:
      enabled: true
    health:
      enabled: true
      probes:
        enabled: true
    refresh:
      enabled: true
  endpoints:
    web:
      exposure:
        include:
          - prometheus
          - health
          - metrics
          - refresh
    enabled-by-default: false
