<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring.testing.dao.TestQuestionDAOCSV">
        <constructor-arg name="resourceName" value="/Questions.csv" />
        <constructor-arg name="split" value=";"/>
    </bean>

    <bean id="testService" class="ru.otus.spring.testing.service.TestAppSimple">
        <constructor-arg name="dao" ref="questionDao"/>
    </bean>

</beans>